* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #131313;
  --color-secondary: #FFD369;
  --color-secondary-dark: #ad8e46;
  --color-section: #343536;
  --color-grey: #1f1f1f;
  --color-grey1: #181818;
  --color-white: #FFF;
  --color-light: #3d3d3d;
  --main-padding: 5rem;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.active-btn {
  transition: all 0.2s ease-in-out;
  color: var(--color-secondary);
}

.title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 5rem;
  position: relative;
}
.title::before {
  content: "";
  bottom: 0;
  transform: translateY(80%);
  position: absolute;
  padding: 0.2rem;
  width: 8rem;
  background-color: var(--color-secondary);
}

.m-b-10 {
  margin-bottom: 10rem;
}

.m-b-5 {
  margin-bottom: 6rem;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.anim {
  transition: all 1s ease-in-out;
  opacity: 0;
}

.anim-left {
  transform: translateX(-100%);
}

.anim-right {
  transform: translateX(100%);
}

.anim-up {
  transform: translateY(-100%);
}

.anim-scale {
  transform: scale(0);
}

.slide-left-anim {
  opacity: 1;
  transform: translateX(0);
}

.slide-right-anim {
  opacity: 1;
  transform: translateX(0);
}

.slide-up-anim {
  opacity: 1;
  transform: translateY(0);
}

.scale-in-anim {
  opacity: 1;
  transform: scale(1);
}

.nav-pc {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.nav-pc .nav-btn {
  padding-left: 3rem;
  padding-right: 3rem;
}
.nav-pc .nav-btn:hover {
  cursor: pointer;
}
.nav-pc::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 2.5rem;
  background-color: var(--color-primary);
  opacity: 0.9;
  z-index: -1;
}

.nav-mobile {
  display: none;
  position: fixed;
  justify-content: end;
  font-size: 2rem;
  padding: 1.5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  transform-origin: center;
}
.nav-mobile .hamburger:hover {
  color: #aaa;
  cursor: pointer;
}
.nav-mobile .btns-list {
  font-size: 1.1rem;
  display: none;
  position: fixed;
  width: 100vw;
  top: 5rem;
  left: 0;
  text-align: center;
  z-index: 8;
}
.nav-mobile .btns-list li {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--color-grey1);
}
.nav-mobile::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 2.5rem;
  background-color: var(--color-grey1);
  opacity: 1;
  z-index: -1;
}

.mobile-active {
  display: block !important;
  animation-name: slideRight;
  animation-duration: 0.2s;
}

.btn-con {
  transition: all 0.2s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 30px;
  border-style: solid;
  border-color: var(--color-secondary);
}
.btn-con:hover {
  cursor: pointer;
  background-color: var(--color-secondary-dark);
}

header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: var(--color-white);
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
}

header::before {
  content: "";
  background-image: url("../img/bg.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.05;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  max-width: 70rem;
}
.header-content .left-header {
  margin-right: 10rem;
}
.header-content .left-header .introduction {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.header-content .left-header .introduction br {
  display: block;
  content: "";
  margin-top: -0.9rem;
}
.header-content .left-header .mobile-info {
  display: none;
}
.header-content .left-header p {
  margin-bottom: 5rem;
}
.header-content .right-header {
  justify-content: center;
  align-items: center;
}
.header-content .right-header .circle-bg {
  display: block;
  -webkit-clip-path: circle(39% at 45% 50%);
          clip-path: circle(39% at 45% 50%);
  background-color: var(--color-grey);
  padding: 2rem;
}
.header-content .right-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(1);
  width: 20rem;
  height: auto;
}

.my-name {
  font-size: 4rem;
  color: var(--color-secondary);
}

.about-sec {
  min-height: 100vh;
  background-color: var(--color-section);
  padding: 5.5rem 8rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
  position: relative;
}

.about-con {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.about-con::before {
  content: "";
  display: block;
  position: absolute;
  padding: 0.2rem;
  top: 0;
  width: 100%;
  border-radius: 20px;
  background-color: var(--color-white);
}

.story-con {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 20px;
}
.story-con::before {
  content: "";
  position: absolute;
  padding: 1rem;
  top: -5rem;
  left: 50%;
  border-radius: 50%;
  background-color: var(--color-primary);
  border-width: 0.25rem;
  border-color: white;
  border-style: solid;
  transform: translateX(-50%);
  color: var(--color-secondary);
}
.story-con h2 {
  color: var(--color-secondary);
}
.story-con p {
  font-size: 1rem;
}

.story-bubble::before {
  font-family: FontAwesome;
  font-size: 1.5rem;
}

.story-1::before {
  content: "\f11b";
}

.story-2::before {
  content: "\f121";
}

.story-3::before {
  content: "\f1b2";
}

.story-4::before {
  content: "\f0ac";
}

.story-5::before {
  content: "\f1fc";
}

.story-6::before {
  content: "\f501";
}

.column {
  flex-direction: column;
}

.projects-sec {
  min-height: 100vh;
  padding: 5.5rem 8rem 8rem 8rem;
}

.projects-con {
  display: flex;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 25rem;
  padding: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  background-color: var(--color-light);
}
.project-card .project-img {
  width: 80%;
  height: 12rem;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
}
.project-card p {
  font-size: 0.9rem;
  max-width: 20rem;
  margin-bottom: 2rem;
  text-align: center;
}
.project-card .project-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.project-oczko .project-img {
  background-image: url(../img/Projekty/Oczko.png);
}

.project-square .project-img {
  background-image: url(../img/Projekty/TheSquare.png);
}

.btn-proj:hover {
  transition: all 0.2s ease-in-out;
  color: var(--color-secondary);
  cursor: pointer;
}

.contact-sec {
  padding: 5.5rem;
  background-color: var(--color-section);
}

.contact-con {
  display: flex;
  margin: auto;
  max-width: 50rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: var(--color-secondary-dark);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10rem;
  text-align: center;
}
.contact-con img {
  max-width: 30rem;
  -webkit-clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(55% 0, 100% 0, 100% 100%, 0% 100%);
}

.copy-alert {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  color: white;
  background-color: var(--color-primary);
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  transform: translateY(-100%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.alert-active {
  display: block;
}

.contact-btn {
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-left: 2rem;
}
.contact-btn:hover {
  color: var(--color-secondary);
  cursor: pointer;
}

.live-demo-con {
  display: none;
  position: fixed;
  width: 60vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: solid 800px rgba(0, 0, 0, 0.6);
}
.live-demo-con .live-demo-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  float: right;
}
.live-demo-con .live-demo-close:hover {
  cursor: pointer;
  color: #aaa;
}

.game {
  display: block;
  width: 100%;
  height: 100%;
}

.live-demo-active {
  display: block !important;
}/*# sourceMappingURL=style.css.map */